
/* Başlık */
.app-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 20px;
  font-weight: bold;
  font-family: Arial, sans-serif;
  background-color: #9E1B32;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.app-header h1 {
  font-size: 27px;
  color: #F0F0F0;
  margin: 0;
}

.app-header span {
  font-size: 15px;
  font-weight: bold;
  color: #F0F0F0;
}

/*  */

/* Genel Gövde */

body {
  flex: 1;
  margin: 0;
  padding: 0;
  background-color: #faf2f2;
}

main {
  flex: 1;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.header h1 {
  font-size: 25px;
  margin: 0 20px 5px 30px;
  color: #333;
}

.header-line {
    height: 1px;
    margin-left: 30px;
    border-bottom: 1px solid #cfcfcf;
    width: 95%;
}

.header p {
  font-size: 14px;
  margin: 5px 20px 15px 30px;
  color: #666;
}

/*  */

/* ANASAYFA Arama ve Filtre Alanı */

.search-and-filter {
  display: flex;
  align-items: center;
  margin: 20px 30px 20px 30px;
  gap: 20px;
}

.search-input {
  width: 100%;
  max-width: 600px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 32px;
}

.priority-filter {
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 35px;
}

/*  */

/* ANASAYFATablo */

.table-section{
  width: 95%;
  margin: 20px 30px;
  border-collapse: collapse;
  box-sizing: border-box;
  border: 1px solid #ccc;
}

.table-section table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
}

.table-section th, .table-section td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

/*  */
/* Sidebar */

.layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #4F4A4C;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  flex-shrink: 0;
}

.sidebar h1 {
  font-size: 18px;
  color: #e2e2e2; ;
  margin: 20px 20px 0 20px;
}

.sidebar-line {
  height: 1px;
  border-bottom: 1px solid #e2e2e2;
  margin: 0 20px;
}

.sidebar ul {
  list-style-type: none;
  margin:auto;
  padding: 10px;
}

.sidebar li {
  margin: 5px 10px 10px;
}

.sidebar a {
  text-decoration: none;
  color: #faf8f8;
  font-size: 15px;
  display: block;
  padding: 5px; 
  transition: background-color 0.3s ease;
  border: #6c5a5c solid 0.5px;
  border-radius: 6px;
}

.sidebar a:hover {
  background-color: #6c5a5c;
}

/* Talep Oluştur Form */

.request-form {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 20px 30px 30px;
  display: flex;
  flex-direction: column;
}

.request-form label {
  font-weight: bold;
  margin: 10px 0 5px 0;
}

.request-form input,
.request-form select,
.request-form textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.request-form button {
  background-color: #9E1B32;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 25px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
